<!DOCTYPE html>

<html>

<head>
    <title>Kelola Pengumuman</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Dashboard">
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
        <title>Kelola Pengumuman</title>

        <!-- Favicons -->
        <link href="public/img/favicon.png" rel="icon">
        <link href="public/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Bootstrap core CSS -->
        <!-- <link href="public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!--external css-->
        <link href="public/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-fileupload/bootstrap-fileupload.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-datepicker/css/datepicker.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-daterangepicker/daterangepicker.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-timepicker/compiled/timepicker.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-datetimepicker/datertimepicker.css">
        <!-- Custom styles for this template -->
        <link href="public/css/style.css" rel="stylesheet">
        <link href="public/css/style-responsive.css" rel="stylesheet">
    </head>
    <link rel="stylesheet" href="/public/css/homepage.css">
</head>

<body>
    <%- include('../partials/navbaradmin', { activeTab: 'pengumuman' }) %>
    <section id="main-content">
        <section class="wrapper">
        <br>            
        <h3>Pengumuman</h3>
            <!-- page start-->
            <div class="row mt">
                <div class="col-sm-9">
                    <section class="modal-content">
                        <div class="modal-body">
                            <div class="mail-option">
                                <button type="button" class="btn btn-success btn-sm pull-left" data-toggle="modal" data-target="#myModal"
                                id="btn-buat-pengumuman">+ Buat Pengumuman                                    
                                </button>
                                <ul class="unstyled inbox-pagination">
                                    <li><span id="sorting-pengumuman"></span></li>
                                    <li>
                                        <a class="sort-btn" href="#" id="tanggal-lama"><i class="fa fa-angle-up  pagination-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sort-btn" href="#" id="tanggal-baru"><i class="fa fa-angle-down pagination-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            
                            <div class="table-inbox-wrap-baru ">
                                <table class="table table-inbox table-hover">
                                    <tbody id="content-pengumuman">
                                        <!-- content -->
                                    </tbody>
                                </table>
                            </div>

                            <div class="mail-option">
                                <ul class="unstyled inbox-pagination">
                                    <li><span id="pagination-pengumuman"></span></li>
                                    <li>
                                        <a class="np-btn" href="#" id="prev-page"><i class="fa fa-angle-left  pagination-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="np-btn" href="#" id="next-page"><i class="fa fa-angle-right pagination-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">                           
    
                               <!-- Modal content-->
                               <div class="modal-content">
                                  <div class="modal-header">                                 
                                     <h4 class="mb"></i>Buat/Broadcast Pengumuman</h4>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">                                 
                                     <form class="form-horizontal tasi-form">
                                        <div class="form-group has-warning row">
                                           <label class="col-sm-3 col-form-label" for="input-pengumuman">Judul Pengumuman</label>
                                           <div class="col-lg-9">
                                              <input type="text" class="form-control" id="input-pengumuman">
                                           </div>
                                        </div>
                                     </form>
                                     <button class="btn btn-theme" type="button" id="btn-send-pengumuman">Tambahkan</button>
                                  </div>                              
                               </div>
                            </div>
                         </div>

                    </section>                   
                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-database.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

    <script>
       // Your web app's Firebase configuration
       var firebaseConfig = {
          apiKey: "AIzaSyC5UizZtX5FLKKrGvtwHYetCquZ0gne330",
          authDomain: "database-file-administrasi.firebaseapp.com",
          databaseURL: "https://database-file-administrasi.firebaseio.com",
          projectId: "database-file-administrasi",
          storageBucket: "database-file-administrasi.appspot.com",
          messagingSenderId: "900232079725",
          appId: "1:900232079725:web:60c2c507ccb0e65df19264",
          measurementId: "G-PLCDHCNRHR"
       }
       // Initialize Firebase
       firebase.initializeApp(firebaseConfig);
       firebase.analytics();
    </script>
    
    <script src="/public/js/pengumuman_admin.js"></script>
</body>

</html>