<!DOCTYPE html>

<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="Dashboard">
   <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
   <title>Unggah Dokumen/Berkas</title>

   <!-- Favicons -->
   <link href="/public/img/favicon.png" rel="icon">
   <link href="/public/img/apple-touch-icon.png" rel="apple-touch-icon">

   <!-- Bootstrap core CSS -->
   <link href="/public/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
   <!--external css-->
   <link href="/public/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap-fileupload/bootstrap-fileupload.css">
   <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap-datepicker/css/datepicker.css">
   <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap-daterangepicker/daterangepicker.css">
   <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap-timepicker/compiled/timepicker.css">
   <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap-datetimepicker/datertimepicker.css">
   <!-- Custom styles for this template -->
   <link href="/public/css/style.css" rel="stylesheet">
   <link href="/public/css/style-responsive.css" rel="stylesheet">

   <!-- =======================================================
        Template Name: Dashio
        Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
        Author: TemplateMag.com
        License: https://templatemag.com/license/
      ======================================================= -->
</head>

<body>
   <%- include('partials/navbar', { activeTab: 'dokumen' }) %>

   <section id="main-content">
      <section class="wrapper site-min-height">
         <h3>Unggah Dokumen/Berkas Administrasi</h3>
         <div class="row mt">
            <div class="col-lg-12">
               <!-- The file upload form used as target for the file upload widget -->
               <form id="fileupload" enctype="multipart/form-data" class="">
                  <!-- Redirect browsers with JavaScript disabled to the origin page -->
                  <noscript>
                     <input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/">
                  </noscript>

                  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                  <div class="row fileupload-buttonbar">
                     <div class="col-md-6">

                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <select class="form-control" id="input-category">
                        </select>

                        <div class="fileupload fileupload-new" data-provides="fileupload">
                           <br>
                           <span class="btn btn-theme02 btn-file">
                              <span class="fileupload-new"><i class="fa fa-paperclip"></i>Pilih Dokumen</span>
                              <input type="file" class="default" id="input-file">
                           </span>
                           <span class="fileupload-preview" style="margin-left:5px;"></span>

                           <button type="button" class="btn btn-theme start" id="btn-upload">
                              <i class="glyphicon glyphicon-upload"></i>
                              <span>Unggah Dokumen</span>
                           </button>
                        </div>                        

                        <div class="showback" id="upload-result" style="display: none;">
                           <h4>Unggah Berhasil</h4>
                           <div class="alert alert-success"><b>Dokumen berhasil diunggah, gunakan tautan berikut untuk
                                 melihat: <a href="#" id="file-result-link" target="__blank">Download</a></div>
                        </div>
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                     </div>
                     <!-- /col-lg-7 -->
                     <!-- The global progress state -->
                     <div class="col-lg-4 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                           aria-valuemax="100">
                           <div class="progress-bar progress-bar-success" style="width:0%;">
                           </div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">
                           &nbsp;
                        </div>
                     </div>
                     <!-- /col-lg-5 -->
                  </div>
                  <!-- /row -->
                  <!-- The table listing the files available for upload/download -->
                  <table role="presentation" class="table table-striped">
                     <tbody class="files">
                     </tbody>
                  </table>
               </form>
               <div class="content-panel-syarat col-md-6">                  
                  <h4>Syarat Unggah/Upload:</h4>
                  <li>Pastikan file/dokumen yang diunggah berjenis PDF/Word.</li>
                  <li>Beri nama dokumen anda dengan format "Nama Lengkap_Jenis Dokumen_Tahun" (Contoh: Hassan
                     Fauzi_Dokumen Akreditasi_2020).</li>
                  <li>Silahkan unggah/upload kembali dokumen anda dengan format nama dokumen dan jenis dokumen
                     yang sama jika terdapat kekeliruan pada dokumen yang sudah diunggah/upload sebelumnya.</li>               
               </div>
            </div>
         </div>

      </section>
      <!-- The core Firebase JS SDK is always required and must be listed first -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-storage.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-database.js"></script>

      <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

      <script>
         // Your web app's Firebase configuration
         var firebaseConfig = {
            apiKey: "AIzaSyC5UizZtX5FLKKrGvtwHYetCquZ0gne330",
            authDomain: "database-file-administrasi.firebaseapp.com",
            databaseURL: "https://database-file-administrasi.firebaseio.com",
            projectId: "database-file-administrasi",
            storageBucket: "database-file-administrasi.appspot.com",
            messagingSenderId: "900232079725",
            appId: "1:900232079725:web:60c2c507ccb0e65df19264",
            measurementId: "G-PLCDHCNRHR"
         };
         // Initialize Firebase
         firebase.initializeApp(firebaseConfig);
         firebase.analytics();
      </script>
      <script src="/public/js/upload_file.js"></script>
</body>

</html>